<!DO;.....CTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ethann Yakabuski"> 
	
	<!-- Bootstrap core CSS -->
    <link type="text/css" href="/static/bootstrap/css/theme/flatly/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/jumbotron-narrow.css">
	
	<script type="application/json" src="/jquery/jquery-1.11.3.min.js"</script>
    <script type="application/json" src="/bootstrap/js/bootstrap.min.js"</script>
	
  </head>
  
  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
		  <li><a href="services">Services</a></li>
          <li><a href="about">About</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">Buskees Services: Ottawa</h3>
      </div>
   
    <p>Buskees Overview <p>
	<p>Hello my name is Ethann Yakabuski, the proud owner of Buskees Services. I am a student studying computer science at Carleton University.
	I am currently in my final year. The goal of this business is to provide reliable and flexible service at a low price for general deeds around the yard.
	Receipts are given on every transaction, and no funds are collected until all work has been seen through.
	</p>
		
	<p>We offer weekly, bi-weekly, monthly or as per needed basis yard servicing at low cost. At no point is there any
	obligation to continue. We are able to keep our prices low by limiting overhead and providing a great customer experience. If at any point you feel
	that you did not receive a greater than satisfactory experience please contact us and let us know how you feel so we can rectify the situation. 
	</p>
	
	<p>At Buskees we strive to have consistent fair pricing. Due to the size of your lawn it is natural that someone with a larger lawn will be paying slightly more 
	someone else with a smaller lawn. This being said a main priority is for us to price yours and your neighbours lawns as fair and equally as possible. If you have not already met
	with someone in the field, then contact us and we can have a quote for your property in 12 hours. Please see our contact page for your preferred method of communication. 
	</p>
	
	<a href='https://photos.google.com/share/AF1QipMBN-k0ZdgS5Oqmno-yqyAbrcSZ4HWy96inWpixVrDqfFJry2pQwlHhJVlIiiWOOg?key=M1k2eThWU1UxM0kzLUllaVhFMzZvMUdiYTBUWHdn&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/_r7z7t02kt5KXiw5BHlcDEhfH17BhtZ4XRRJIF1xB7_OKMm7v2EyJp8N4ORLvNgbPg6DCCZCYCeS0f3RFTAXtdIIktpFsbHOcpG9HB2w_ERrfoiMxivocaVvxybgai1_-P-LwfK8=w2400' /></a>
	
	<div class="footer">
		<div id="Logo">
		<a href='https://photos.google.com/share/AF1QipO5I9DF9QYZA-UZl3TtkjnFWMbbo7AkgivmW1OF6_iPHThUlzQEO8KOwrIi9zCMxQ?key=N1hSMzhUVDVVR1A0MHl6RFFMdzR0a0VjUnNmYmVR&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/JuIcGtxxTkBpXMm3D63IV9GAqZbtvkStMvK8XSyua_982puL2QK7d7g2-SWwsz9cdVOE9s86v2ShAXaxPkGze2o1dwCboUp0aqvILYLiQ-y1yJZgQktbzuN7KG7biwyhB8nSsjpI=w2400' /></a>
		<p>&copy; Buskees</p>
		</div>
      </div>
	
    </div> <!-- /container -->

  </body>
</html>

