<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ethann Yakabuski">
	

    <title>Buskees</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" type= "text/html" href="/boottrap/css/jumbotron-narrow.css">
	
	<script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
	
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">Buskees Services: Ottawa</h3>
      </div>
	  
	  <% if (flask_debug === 'true') { %>
      <div class="alert alert-danger">
      	Flask is in debug mode. This is not safe for production.
      </div>
      <% } %>
	  
      <div class="jumbotron">
        <h1>Buskees</h1>
        <p class="lead">Thank you for visiting, I hope we can be of service to you!</p>
		<div id="services">
		  <p> Lawnmowing </p>
		  <p> Aeration </p>
		  <p> Driveway Sealing </p>
		  <p> General Labor </p>
		</div>
      </div>
	  
	  <div class="bio">
	    <p>Buskees Overview <p>
		<p>Hello my name is Ethann Yakabuski, the proud owner of Buskees Services. I am a student studying computer science at Carleton University.
		The goal of this business is to provide reliable and flexible service at a low price for general deeds around the yard.
		Receipts are given on every transaction, and no funds are collected until all work has been seen through.
		</p>
		<p>We offer weekly, bi-weekly, monthly or as per needed basis yard servicing at low cost. At no point is there any
		obligation to continue. We are able to keep our prices low by limiting overhead and providing a great customer experience. 
		</p>
		
		<p>Lawnmowing </p>
		<p>Lawnmowing is the bulk of Buskees work. We service tiny yards for 10, small yards for 15 dollars, medium yards for 20, large yards
		for 25 and huge yards for 30. We will always evaluate your lawn as low and as fair as possible. This can be done weekly, bi-weekly, monthly or as needed basis. Whipper snipping wherever needed is included in this fee.
		</p>
		
		<p>General Labor </p>
		<p>General labor such as but not limited to; cleaning up, laying stone, moving heavy things, digging holes or small paint jobs
		is done at 15$ per hour of general labor. 
		</p>
		
		<p>Driveway Sealing </p>
		<p>The cost on our end varies quite highly with the size of the driveway along with the amount of crack filler and thickness of
		tar needed to do a good job. A quote can be given for your property within 12 hours.
		</p>
	  </div>
		

      <div class="footer">
		<div id="Logo">
		<a href='https://photos.google.com/share/AF1QipO5I9DF9QYZA-UZl3TtkjnFWMbbo7AkgivmW1OF6_iPHThUlzQEO8KOwrIi9zCMxQ?key=N1hSMzhUVDVVR1A0MHl6RFFMdzR0a0VjUnNmYmVR&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/JuIcGtxxTkBpXMm3D63IV9GAqZbtvkStMvK8XSyua_982puL2QK7d7g2-SWwsz9cdVOE9s86v2ShAXaxPkGze2o1dwCboUp0aqvILYLiQ-y1yJZgQktbzuN7KG7biwyhB8nSsjpI=w2400' /></a>
		<p>&copy; Buskees</p>
		</div>
      </div>
      
      

    </div> <!-- /container -->

  </body>
</html>
