<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ethann Yakabuski"> 
	
	<!-- Bootstrap core CSS -->
    <link type="text/css" href="/static/bootstrap/css/theme/flatly/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/jumbotron-narrow.css">
	
	<script type="application/json" src="/jquery/jquery-1.11.3.min.js"</script>
    <script type="application/json" src="/bootstrap/js/bootstrap.min.js"</script>
	
  </head>
  
  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
		  <li><a href="services">Services</a></li>
          <li><a href="about">About</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">Buskees Services: Ottawa</h3>
      </div>
	  
	<h3>Lawn Mowing</h3>
	  <p> Lawn Mowing is the bulk of Buskees work, we intend to provide low cost service so that we can continue to serve you and your lawn weekly, bi-weekly, monthly or as needed basis for the rest of the summer months </p>
	  <div id="pricingTable">
	    <ul id="table">
	      <li> Tiny Lawn:   $10  </li>
		  <li> Small Lawn:  $15  </li>
		  <li> Medium Lawn: $20  </li>
		  <li> Large Lawn:  $25  </li>
		  <li> Huge Lawn:   $30  </li>
	    </ul>
		<p> A tiny lawn is that of a townhouse with a small backyard and front yard </p>
		<p> A small lawn is that of condo or townhouse with a backyard, front yard and some on the sides </p>
		<p> A medium lawn is that of a regular sized city home with a frontyard, backyard and some to the sides </p>
		<p> A large lawn is that of a family home with bigger then normal frontyard and backyard with some to the sides </p>
		<p> A huge yard is that of a family home found in the outer parts of the city or the countryside, with lots of green space </p>
      </div>
	  
	  <h3>General Labor</h3>
	    <p> General Labor, whatever it may be is provided at 16/hour of labor provided. This can be anything around the house such as;
		digging holes, lifting heavy things, laying stone/interlock, laying sod, raking leaves and general summer/spring cleaning, 
		washing vehicles and cleaning driveways. If you are in need of any other services please see our contact page and inquire. 
		</p>
		
      <h3>Driveway Sealing</h3>
	    <p> These jobs are provided at an as need basis; our field agents are not equipped with the tar on them, but they can schedule a
		time (weather permitting) for someone to come back and service your driveway within our hours of operation. No funds would be collected
		until you have seen a finished driveway of course! That is how Buskees operates.
		</p>
		<p> The cost of these jobs vary depending on amount of crack filler and tar needed to do a good job. If you haven't already received a quote
		please see our contact page to use your preferred method of communication and we can quote your property within 12 hours. 
		</p>
	  
    </div> <!-- /container -->

  </body>
</html>
